{% extends "base.html" %}
{% block title %}A Path Moment{% endblock %}
{% block head %}
	{{ super() }}
	<script src="http://js.pusher.com/1.11/pusher.min.js"></script>
	<script type="text/javascript">
		var pusher = new Pusher('5b7cb63a557f941ee1aa');
		var channel = pusher.subscribe('a_channel');
		channel.bind('an_event', function(data) {
			var list = document.getElementById('list_of_moments');
			var the_elements = list.children;
			var new_element = document.createElement('li');
			//new_element.innerHTML = "<img src=\"" + "http://ecstartupsummit.com/img/logo.png" + "\">";
			new_element.innerHTML = "<a href=\"" + data['path_url'] + "\" target=\"_blank\" ><img src=\"" + data['photo_url'] + "\" width=\"250\" height=\"250\" id=\"" + data['id'] + "\" alt=\"" + data['text'] + "\" /></a>";
			var el_already_in_list = document.getElementById(data['id']);
			console.log(el_already_in_list);
			if (el_already_in_list == null) {
				list.insertBefore(new_element, list.firstChild);
			}
			//alert(data['photo_url']);
		});
	</script>
{% endblock %}
{% block content %}
	<div class="photo-moments">
		<ul id="list_of_moments">
			{% for moment in photo_moments %}
				{% if moment.getPhotoUrl() %}
				<li><a href="{{moment.getPathUrl()}}" target="_blank"><img src="{{moment.getPhotoUrl()}}" width="250" height="250" id="{{moment.getId()}}" alt="{{moment.getText()}}" /></a></li>
				{% endif %}
			{% else %}
				<li>Sorry! No moments found.</li>
			{% endfor %}
		</ul>
	</div>
{% endblock %}
